.menu_flutuante{
    width: 15vw;
    height: 100vh;
    background-color: #E7F4EF;
    border-radius: 29px;
    position: absolute;
    left: -1vw;
    z-index: -2;
}
#icon_home{
    width: 4vw;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: start;
}
#btn_ctvc{
    width: 14vw;
    height: 7vh;
    font-size: 20px;
    background-color: #ACD9E6;
    position: absolute;
    top: 13vh;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#btn_istituições{
    width: 14vw;
    height: 7vh;
    font-size: 20px;
    background-color: #ACD9E6;
    position: absolute;
    top: 20vh;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}
#noticias{
    width: 14vw;
    height: 7vh;
    font-size: 20px;
    background-color: #ACD9E6;
    position: absolute;
    top: 27vh;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.btn_menu{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#icon_sup{
    width: 3vw;
    height: 6vh;
    position: absolute;
    top: 92vh;
    left: 1vw;
}
.icone_sup{
    width: 4vw;
    height: 7vh;
    background-color: white;
    position: absolute;
    top: 92vh;
    left: 1vw;
    border-radius: 50%;
    border: 2px solid black;
    z-index: -1;
}
