<!DOCTYPE html>


<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doentinhos</title>
    <link rel="stylesheet" href="./../css/styles.css">
    <script type="module" src="./../js/cartoes_view.js"> </script>

</head>

<body>
    <div class="container">
        <header id="cabecao">
            <h1 id="titulo"> Doentinhos</h1>
        </header>
        <div class="search-container">
            <input type="text" class="search-bar" placeholder="Pesquisar">
            <button class="search-btn">🔍</button>
            <input type="text" class="paciente-bar" placeholder="Paciente:">
        </div>
        <div class="grid" id="grid-container">
        </div>
    </div>
</body>

</html>